<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
		<mat-nav-list>
			<mat-list-item class="parent">
				<span class="full-width" > Home </span>
				<mat-icon mat-list-icon>home</mat-icon>
			</mat-list-item>
            <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
				<span class="full-width" > Clientes </span>
				<mat-icon mat-list-icon>home</mat-icon>
			</mat-list-item>
		</mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>
<button mat-raised-button type="button" (click)="logout()">Log Out</button>

